<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://rukminim1.flixcart.com/image/300/300/watch/q/z/h/mf13-timex-original-imaejhptznhjnska.jpeg?q=30" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="descrption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <div>
                    <div class="price">Rs.1200</div>
                    <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></div>

            </div>
        </div>
    </div>
</div>